

    .messages-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #616061;
    font-size: 15px;
    padding: 2rem;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    }

.messages-list {
    flex: 1;
    overflow-y: auto;
    padding: 20px 24px;
    background-color: white;
}