    .workspace_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  /*   height: 80vh; */
    }

    .workspace_list::-webkit-scrollbar {
  width: 8px;
}

.workspace_list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.workspace_list::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

    .error {
    color: red;
    }

    .empty {
    color: gray;
    margin-top: 30px;
    font-size: 25px;
    }

      @media screen and (max-width: 770px){
        
        .empty {
          font-size: 20px;
        }
      }