
.message-item {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    margin-left: 20px;
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
}


.message-avatar {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: #611f69; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}


.message-content {
    display: flex;
    flex-direction: column;
}


.message-username {
    font-weight: 700;
    font-size: 14px;
    color: #1d1c1d;
}


.message-text {
    font-size: 14px;
    color: #7d7a7d ;/* #3f0e40; */
    margin-top: 4px;
}