.channels-header {
    padding: 20px 24px;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #431343;
}

.channels-header h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f2ecf2;
}


.back-link {
    text-decoration: none;
    font-size: 14px;
    color: #b2a2b4; 
    font-weight: 600;
    width: fit-content;
}

.back-link:hover {
    text-decoration: underline;
}